body {
    font-family: "BIZ UDGothic", Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
  }
::selection {
    background: rgba(19, 94, 255, 0.411);
}
form {
    display: inline;
}
.notification_theme_normal {
    color:white;
    background-color: rgb(103, 145, 209);
}
.notification_theme_error {
    color: white;
    background-color: rgb(255, 174, 181);
}

/**
* 管理
*/
.manage_theme, .manage_theme:hover {
    color: white;
    background-color: rgb(49, 199, 199);
    border-color: rgb(0, 255, 255);
}
.manage_theme:read-only, .manage_theme:focus {
    background-color: rgb(49, 199, 199) !important;
    color: white;
    border-color: rgb(0, 255, 255);
}


/**
* アカウント一覧
*/
.table tbody tr.theme_account_title th {
    font-family: "UD デジタル 教科書体 N-B", Arial, Helvetica, sans-serif, monospace;
    color:white;
    background-color: rgb(103, 145, 209);
}
.table tbody tr.theme_account_title th:hover{
    color:white !important;
    background-color: rgb(103, 145, 209) !important;
}
.table tbody tr.theme_account_content td {
    font-family: "UD デジタル 教科書体 N-B", Arial, Helvetica, sans-serif, monospace;
    color:gray;
    background-color: rgb(238, 236, 223);
}

/* 一覧のヘッダがbootstrapの設定で、hoverで色が変わってしまうので、ここで無視するようにする */
.table tbody tr.theme_account_title:hover th {
  --bs-table-hover-bg: rgb(103, 145, 209) !important;
  background-color: inherit !important;
}


table.account_list {
    font-size:10pt;
    border-collapse: collapse;
    border-spacing: 0;
}
table.account_list th.no {
    width: 5%;
}
table.account_list th.user_id {
    width: 20%;
}
table.account_list th.user_name {
    width: 15%;
}
table.account_list th.email {
    width: 15%;
}
table.account_list th.reg_status {
    width: 8%;
}
table.account_list th.tel_no {
    width: 15%;
}
table.account_list th.lock_status {
    width: 12%;
}
table.account_list th.fail_count {
    width: 10%;
}

.user_email {
    color: rgb(38, 8, 209) !important;
}
.password_explain {
    font-size: 0.5rem;
}

/* 以下はbootstrapでやってくれなくなっているので、独自で設定する */
.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.nav-link {
    color:rgba(255, 255, 255) !important;
}

.nav-link:hover {
    color:rgba(255, 255, 255, .5) !important;
}

.form-group {
    margin-bottom: 1rem;
}
